.PatientCard {
  /* border: palevioletred solid 5px; */
  background-color: rgb(249, 250, 253);
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
}

.action_btn:hover {
  box-shadow: 0px 15px 20px rgba(21, 24, 92, 0.4);
}
.patient_bx {
  /* border: blueviolet solid 5px; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* width: 18em; */
  height: 2em;
}
.PatientList {
  border: blueviolet solid 5px;
  padding: 0em 1em;
  margin: 0em 1em;
}

.bkg_color {
  background-color: rgb(165, 181, 232);
}

.PatientEdit {
  background-color: rgb(165, 181, 232);
  border: green solid 5px;
  padding: 1em;
  margin: 1em;
}

.formgrid input {
  padding: 0.5em;
  margin: 0.5em;
}
.form_style {
  border: blueviolet solid 5px;
  padding: 1em;
  margin: 1em;
}

.Patient_btn {
  display: flex;
  justify-content: flex-start;
}

.Patient_btn Button {
  /* border: black solid 5px; */
  margin: 0.5em;
}

.CreateNew_btn {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em 0.5em 0em 0.5em;
  margin: 0.5em 0.5em 0em 0.5em;
}

.Title_position {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
  margin: 0.5em;
}
