.SongCard {
  width: 200px;
  height: auto;
  border: black solid 2px;
}

.SongList {
  border: orange solid 5px;
  padding: 1em;
  margin: 1em;
}

.SongPatientList {
  border: orange solid 5px;
  padding: 1em;
  margin: 1em;
}
