.SongCard {
  border: palevioletred solid 5px;
  padding: 1em;
  margin: 1em;
}

.SongList {
  /* border: orange solid 5px; */
  background-image: url("../images/lightPurple.png");
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
}
.btn_box Button {
  padding: 0.5em;
  margin: 0.5em;
  height: 42px;
  width: 73px;
}

.btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SongPatientList {
  border: orange solid 5px;
  padding: 1em;
  margin: 1em;
}

.select_year select {
  padding: 0.5em;
  margin: 1em;
}
.year_select_bx {
  display: flex;
  justify-content: center;
  align-items: center;
}
