.SongCard {
  border: palevioletred solid 5px;
  padding: 1em;
  margin: 1em;
}

.SongList {
  border: orange solid 5px;
  padding: 1em;
  margin: 1em;
}

.SongPatientList {
  border: orange solid 5px;
  padding: 1em;
  margin: 1em;
}
