.songResponseCard {
  border: black solid 3px;
  padding: 1em;
  margin: 1em;
}

.SongResponseList {
  border: blue solid 5px;
  padding: 1em;
  margin: 1em;
}

.Parent {
  display: flex;
  justify-content: space-between;
}
