.songResponseCard {
  border: black solid 3px;
  background-color: rgb(165, 181, 232);
  padding: 1em;
  margin: 1em;
}

.SongResponseList {
  background-color: rgb(165, 181, 232);
  border: blue solid 5px;
  padding: 1em;
  margin: 1em;
}

.Parent {
  display: flex;
  justify-content: space-between;
}

.modal_btn {
  padding: 0.5em;
  margin: 0.5em;
}
